{% extends 'news/index_2.html' %}
{% load static %}
{% load humanize %}
{% block content %}

  <script type="text/javascript">
    var revapi;
    jQuery(document).ready(function() {
         revapi = jQuery('.tp-banner').revolution({
          delay:9000,
          startwidth:1170,
          startheight:500,
          hideThumbs:10,
          forceFullWidth:"off",
        });
    }); //ready
  </script>
  <div class="container marg75">
    <div class="row">
      <div class="col-lg-12">
        <div class="promo-block">
          <div class="promo-text">Үйл ажиллагаа
        </div>
          <div class="center-line"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container animated-area">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ms-12 animated" data-animation-delay="0.3s" data-animation="fadeInUp">
        <div class="hi-icon-effect marg50">
          <div class="hi-icon icon-user"></div>
          <div class="service-name">Гишүүд</div>
          <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ms-12 animated" data-animation-delay="0.6s" data-animation="fadeInUp">
        <div class="hi-icon-effect marg50">
          <div class="hi-icon icon-note"></div>
          <div class="service-name">Мэдээ мэдээлэл</div>
          <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
       </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ms-12 animated" data-animation-delay="0.9s" data-animation="fadeInUp">
        <div class="hi-icon-effect marg50">
          <div class="hi-icon icon-params"></div>
          <div class="service-name">Хууль тогтоомж</div>
          <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
       </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ms-12 animated" data-animation-delay="1.2s" data-animation="fadeInUp">
        <div class="hi-icon-effect marg50">
          <div class="hi-icon icon-globe"></div>
          <div class="service-name">Судалгаа</div>
          <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
        </div>
      </div>
    </div>
  </div>
  <body>
  <div class="container-color marg75">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="promo-block">
            <div class="promo-text">Мэдээ мэдээлэл </div>
            <div class="center-line"></div>
          </div>
          <div class="promo-paragraph">Pellentesque luctus ac lorem id luctus. Aenean sagittis magna sit amet purus vehicsula. Tristique nunc a felis ultrices phasellus vitae ultrices lectus, eget posuere est. Win none ipsum suspendisse eu velit sodales, viverra lorem vitae, accumsan orci sagittis</div>
        </div>
      </div>
    </div>
    
    <div class="container marg50 animated-area">
      <div class="grid hover-3">
        <div class="cbp-l-grid-projects" id="grid-container">
          <ul>
            {% for news in news|slice:"1:7" %}

            <li class="cbp-item animated" data-animation-delay="0.3s" data-animation="fadeIn">
              <div class="portfolio-main">
                <figure>
                  <a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}" ><img src="{% if news.image %}{{news.image.url}}{% endif %}" alt="" />
                  </a>
                    <figcaption>
                          <a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">
                    <div class="text-overlay">
                       <div class="text-overlay-title">
                       <a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">
                          <h3 style=" font-size: 18px;color:#fff;padding-right: 0px;">  {{ news.title }}  </h3>
                       </div>
                      </div>
                  
                      
                        </a>
                  </figcaption>
                </figure> 
              </div>
            </li>
            {% endfor %}

           </ul>
        </div>
        <div class="col-lg-12">
          <div class="button-center"><a href="{% url 'news-news-list' %}" >
          <button type="button" class="btn btn-secondary">Цааш үзэх</button>
          </a></div>
        </div>
      </div>  
    </div>
  </div>
  <div class="prl-1">
    <div class="prlx">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 marg50"><div class="quote"><i class="fa fa-quote-right"></i></div></div>
          <div class="col-lg-12">
            <div class="testimonials">
              <div id="carousel-testimonials" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-testimonials" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-testimonials" data-slide-to="2" class=""></li>
                  <li data-target="#carousel-testimonials" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                      <div class="item active">
                        <p class="testimonial-quote">Мундаг сайхан хамт олон шүү амжилт хүсье</p>
                        <p class="testimonial-author">Баярмаа Дашцэрэн</p>
                      </div>
                      <div class="item">
                        <p class="testimonial-quote">Маш их баярлалаа. Өгөх нь авахаасаа 100 дахин илүү буян. НЭМГ, танай холбоотой хамтран зохион байгуулж буй аяны хүрээнд "Өгөх өдөр"-т оролцсонд талархаж байна.</p>
                        <p class="testimonial-author">Долгорсүрэн Цэнджав</p>
                      </div>
                      <div class="item">
                        <p class="testimonial-quote">Баярлалаа, Сайн үйлс бүхэн дэлгэрэх болтугай</p>
                        <p class="testimonial-author">Отэсо эмийн сан</p>
                      </div>
                    </div>
                <a class="left carousel-control" href="#carousel-testimonials" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#carousel-testimonials" data-slide="next">&rsaquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body> 
  <div class="container marg75">
    <div class="row animated-area">
      <div class="col-lg-6 col-md-6 col-sm-12 animated" data-animation-delay="0.3s" data-animation="fadeInLeft">
        <div class="promo-block">
          <div class="promo-text">Бидний тухай</div>
          <div class="center-line"></div>
        </div>
        <div class="marg50">
          <p class="about-text"><span class="first-letter">C</span>hasellus vitae ultrices lectus, eget posuere est. In non mi ipsum. Suspendisse velit ticol sodales, viverra lorem vitae, accumsan orci. Mauris nec ipsum tempus, laorei lorem vel, sodales ante. Praesent quis interdum sapien, et pulvinar leo. Vivamus mattis fermentum eros vel ullamcorper. Integer egestas metus vitae mi molestie, ac euismod quam vestibulum. Pellentesque ac molestie eros. Praesent at nunc vel est tempor aliqua.</p>
          <ul class="list-check">
            <li><i class="icon-ok"></i> Нийгэмд чиглэсэн аян</li>
            <li><i class="icon-ok"></i> Үйл ажиллагаа</li>
            <li><i class="icon-ok"></i> Урлаг  & спорт</li>
            <li><i class="icon-ok"></i> Мэдээ мэдээлэл</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 animated" data-animation-delay="0.3s" data-animation="fadeInRight">
        <div class="promo-block">
          <div class="promo-text">Онцлох мэдээ</div>
          <div class="center-line"></div>
        </div>
        <div class="row marg50">
        {% for news in news|slice:"0:2"%}
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
            <div class="blog-main">
              <div class="blog-images">
                <div class="view view-fifth">
                  <img src="{% if news.image %}{{news.image.url}}{% endif %}" alt="" />
                  <div class="mask"><a href="#" class="btn-blog">Цааш унших</a></div>
                </div>
              </div>
                  <div class="row">    
                      <div class="col-12"  > 
                            <div class="blog-name"><a href="#" style="
    font-size: 18px;">{{ news.title }}</a></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                             <div class="blog-desc" style="font-size: 14px;">{{ news.created_on|naturalday:'Y-m-d' }} Нийтэлсэн <a href="#">{{ news.author }}</a>,  <a href="#"></a></div>
                      </div>
                  </div>
            </div>
          </div>
         {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
  <div class="container marg75">
    <div class="row">
      <div class="col-lg-12">
        <div class="promo-block">
          <div class="promo-text"> Үзүүлэлт</div>
          <div class="center-line"></div>
        </div>
      </div>
      <div class="col-lg-12 marg25">
       

 

<div class="wrapper">
  <div class="counter col_fourth">
    <i class="fa fa-code fa-2x"></i>
    <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
    <p class="count-text ">Гишүүн байгууллагууд</p>
  </div>

  <div class="counter col_fourth">
    <i class="fa fa-coffee fa-2x"></i>
    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
    <p class="count-text ">Гишүүдийн тоо</p>
  </div>

  <div class="counter col_fourth">
    <i class="fa fa-lightbulb-o fa-2x"></i>
    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
    <p class="count-text ">Хийгдсэн үйл ажиллагаа</p>
  </div>

  <div class="counter col_fourth end">
    <i class="fa fa-bug fa-2x"></i>
    <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
    <p class="count-text ">Тэкст</p>
  </div>
</div>


      </div>
    </div>
  </div>
  <div class="container marg75">
    <div class="row">
      <div class="col-lg-12">
        <div class="promo-block">
          <div class="promo-text">Харилцагч байгууллагууд</div>
          <div class="center-line"></div>
        </div>
      </div>
      <div class="col-lg-12 marg25">
        <div class="jcarousel-wrapper">
          <div class="jcarousel">
            <ul>
              <li style="padding-left: 70px;"><a href="https://www.mohs.mn/"><img src="{% static 'base/assets/images/client-1.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="https://emg.ub.gov.mn/https://emg.ub.gov.mn/"><img src="{% static 'base/assets/images/client-2.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="http://www.emd.gov.mn/"><img src="{% static 'base/assets/images/client-3.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="http://hdc.gov.mn/"><img src="{% static 'base/assets/images/client-4.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="http://inspection.gov.mn/new/"><img src="{% static 'base/assets/images/client-5.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="https://mof.gov.mn/"><img src="{% static 'base/assets/images/client-6.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
           
            </ul>
          </div>
          <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
          <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
  


<style>

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half {
  width: 49%;
}
.col_third {
  width: 32%;
}
.col_fourth {
  width: 23.5%;
}
.col_fifth {
  width: 18.4%;
}
.col_sixth {
  width: 15%;
}
.col_three_fourth {
  width: 74.5%;
}
.col_twothird {
  width: 66%;
}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
  position: relative;
  display: inline;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}
.end {
  margin-right: 0 !important;
}
/* Column Grids End */

.wrapper {
  width: 980px;
  margin: 30px auto;
  position: relative;
}
.counter {
  background-color: #ececec;
  padding: 20px 0;
  border-radius: 5px;
}
.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}


</style>


<script>
(function ($) {
  $.fn.countTo = function (options) {
    options = options || {};

    return $(this).each(function () {
      // set options for current element
      var settings = $.extend(
        {},
        $.fn.countTo.defaults,
        {
          from: $(this).data("from"),
          to: $(this).data("to"),
          speed: $(this).data("speed"),
          refreshInterval: $(this).data("refresh-interval"),
          decimals: $(this).data("decimals")
        },
        options
      );

      // how many times to update the value, and how much to increment the value on each update
      var loops = Math.ceil(settings.speed / settings.refreshInterval),
        increment = (settings.to - settings.from) / loops;

      // references & variables that will change with each update
      var self = this,
        $self = $(this),
        loopCount = 0,
        value = settings.from,
        data = $self.data("countTo") || {};

      $self.data("countTo", data);

      // if an existing interval can be found, clear it first
      if (data.interval) {
        clearInterval(data.interval);
      }
      data.interval = setInterval(updateTimer, settings.refreshInterval);

      // initialize the element with the starting value
      render(value);

      function updateTimer() {
        value += increment;
        loopCount++;

        render(value);

        if (typeof settings.onUpdate == "function") {
          settings.onUpdate.call(self, value);
        }

        if (loopCount >= loops) {
          // remove the interval
          $self.removeData("countTo");
          clearInterval(data.interval);
          value = settings.to;

          if (typeof settings.onComplete == "function") {
            settings.onComplete.call(self, value);
          }
        }
      }

      function render(value) {
        var formattedValue = settings.formatter.call(self, value, settings);
        $self.html(formattedValue);
      }
    });
  };

  $.fn.countTo.defaults = {
    from: 0, // the number the element should start at
    to: 0, // the number the element should end at
    speed: 1000, // how long it should take to count between the target numbers
    refreshInterval: 100, // how often the element should be updated
    decimals: 0, // the number of decimal places to show
    formatter: formatter, // handler for formatting the value before rendering
    onUpdate: null, // callback method for every time the element is updated
    onComplete: null // callback method for when the element finishes updating
  };

  function formatter(value, settings) {
    return value.toFixed(settings.decimals);
  }
})(jQuery);

jQuery(function ($) {
  // custom formatting example
  $(".count-number").data("countToOptions", {
    formatter: function (value, options) {
      return value
        .toFixed(options.decimals)
        .replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
    }
  });

  // start all the timers
  $(".timer").each(count);

  function count(options) {
    var $this = $(this);
    options = $.extend({}, options || {}, $this.data("countToOptions") || {});
    $this.countTo(options);
  }
});

</script>
{% endblock %}