{% extends 'news/index_2.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
  var revapi;
  jQuery(document).ready(function() {
       revapi = jQuery('.tp-banner').revolution({
        delay:9000,
        startwidth:1170,
        startheight:500,
        hideThumbs:10,
        forceFullWidth:"off",
      });
  }); //ready
</script>
     
      <div class="page-in">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 pull-left"><div class="page-in-name">Танилцуулга: <span>Бидний тухай</span></div></div>
            <div class="col-lg-6 pull-right"><div class="page-in-bread"><span>Та энд байна:</span> <a href="{% url 'news-homepage' %}">Нүүр хуудас</a> \ Бидний тухай</div></div>
          </div>
        </div>
      </div>
      <div class="container marg75">
        <div class="row">
          <div class="col-lg-12">
            <div class="promo-block">
              <div class="promo-text">Бидний тухай</div>
              <div class="center-line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 marg50">
            <div class="introduction"> 
              <img src="{% static 'base/assets/images/aboutpic.jpg' %}" />
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 marg50">
            <div class="">
              <p class="about-text"><span class="first-letter">X</span>hasellus vitae ultrices lectus, eget posuere est. In non mi ipsum. Suspendisse velit ticol sodales, viverra lorem vitae, accumsan orci. Mauris nec ipsum tempus, laorei lorem vel, sodales ante. Praesent quis interdum sapien, et pulvinar leo. Vivamus mattis fermentum eros vel ullamcorper. Integer egestas metus vitae mi molestie, ac euismod quam vestibulum. Pellentesque ac molestie eros. Praesent at nunc vel est tempor aliqua. Earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni.</p>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <ul class="list-check">
                    <li><i class="icon-ok"></i> Эв нэгдэл</li>
                    <li><i class="icon-ok"></i> Үйл ажиллагаа</li>
                    <li><i class="icon-ok"></i> Сургалт & Зөвөлгөө</li>
                    <li><i class="icon-ok"></i> Хамтын ажиллагаа</li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <ul class="list-check">
                    <li><i class="icon-ok"></i> Судалгаа (Covid-19)</li>
                    <li><i class="icon-ok"></i> Нийгэмийн ажил</li>
                    <li><i class="icon-ok"></i> Хурал чуулга</li>
                    <li><i class="icon-ok"></i> Бусад</li>
                  </ul>
                </div>
                <div class="col-lg-12"><div class="button-center"><a href="#" class="btn-simple serv-marg" style="margin-top:20px;"><i class="fa fa-fa-calendar"></i> Түүхэн замнал</a></div></div>
              </div>
            </div>
          </div> 
        </div>
      </div>  
      <div class="container marg100">
        <div class="row">
          <div class="col-lg-12">
            <div class="promo-block">
              <div class="promo-text">БИД</div>
              <div class="center-line"></div>
            </div>
          </div>
        </div>
      </div> 
     
      <div class="container marg100">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="promo-block">
              <div class="promo-text">КОМПАНИЙН ТУХАЙ</div>
              <div class="center-line"></div>
            </div>
              <div class="row marg25">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="other-serv">
                    <div class="serv-icon"><i class="icon-key"></i></div>
                    <div class="serv-name" style="color: #0072bc;">ЭРХЭМ ЗОРИЛГО:</div>
                    <div class="serv-desc">Монгол улсын эрүүл мэндийн байгууллага, хүн амд  мэдлэг, ур чадвар, хандлага  шингэсэн чанартай эм зүйн тусламж,  үйлчилгээг хүргэх,  гишүүн  байгууллагын нийтлэг эрх ашгийг хамгаалах, эмийн мэргэжилтнүүдийн дуу хоолой байх</div>
                  </div>
                  
                </div>
              </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="other-serv">
                    <div class="serv-icon"><i class="icon-paper-plane"></i></div>
                    <div class="serv-name" style="color: #0072bc;">  БИДНИЙ УРИА:</div>
                    <div class="serv-desc">   
                    <ul> 
                                              <li>  • Гишүүдийн эрх ашиг </li>
                                              <li>  • Чадварлаг мэргэжилтэн   </li>
                                              <li>  • Чанартай бүтээгдэхүүнчин   </li>
                                              <li>  • Сэтгэлийн хандлага    </li>
                                                </ul>
    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="other-serv">
                    <div class="serv-icon"><i class="icon-diamond"></i></div>
                    <div class="serv-name" style="color: #0072bc;">ҮНЭТ ЗҮЙЛ:</div>
                    <div class="serv-desc">Манлайлал 
                                            Эв нэгдэл 
                                            Шинэчлэл</div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    
                  <div class="other-serv">
                    <div class="serv-icon"><i class="icon-eye"></i></div>
                    <div class="serv-name" style="color: #0072bc;">АЛСЫН ХАРАА:</div>
                    <div class="serv-desc">Монголын эм зүйн хөгжлийг олон улсын түвшинд хүргэх</div>
                  </div>
                </div>
              </div>
               <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="other-serv">
                    <div class="serv-icon"><i class="icon-cloud"></i></div>
                    <div class="serv-name" style="color: #0072bc;">ЗОРИЛТ:</div>
                    <div class="serv-desc" style="padding-left: 23px;">    
                                      <ol>
                                           <li>   Гишүүн байгууллагуудын эрх ашгийг хамгаалах, хөгжүүлэх үйл ажиллагаа </li>
                                           <li>   Эм зүйн салбарын эрх зүйн баталгаажилтад холбооны үүрэг, нөлөөлөл </li>
                                           <li>   Төрийн ба ТББ+ЭХНБ+ЭС+ЭҮ хамтын ажиллагаа</li>
                                      </ol>
                                               
                                               </div>
                  </div>
                </div>
                </div>
              </div>


              </div>
          
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="promo-block">
              <div class="promo-text">Зурагнууд </div>
              <div class="center-line"></div>
            </div>
            <div class="marg50">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img alt="" src="{% static 'base/assets/images/aboutpic.jpg' %}" />
                  </div>
                  <div class="item">
                    <img alt="" src="{% static 'base/assets/images/3.jpg' %}" />
                  </div>
                  <div class="item">
                    <img alt="" src="{% static 'base/assets/images/5.jpg' %}" />
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <i class="fa fa-angle-left car_icon"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <i class="fa fa-angle-right car_icon"></i>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
     <div class="container marg75">
    <div class="row">
      <div class="col-lg-12">
        <div class="promo-block">
          <div class="promo-text">Харилцагч байгууллагууд</div>
          <div class="center-line"></div>
        </div>
      </div>
      <div class="col-lg-12 marg25">
        <div class="jcarousel-wrapper">
          <div class="jcarousel">
            <ul>
              <li style="padding-left: 70px;"><a href="https://www.mohs.mn/"><img src="{% static 'base/assets/images/client-1.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="https://emg.ub.gov.mn/https://emg.ub.gov.mn/"><img src="{% static 'base/assets/images/client-2.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="http://www.emd.gov.mn/"><img src="{% static 'base/assets/images/client-3.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="http://hdc.gov.mn/"><img src="{% static 'base/assets/images/client-4.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="http://inspection.gov.mn/new/"><img src="{% static 'base/assets/images/client-5.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
              <li style="padding-left: 70px;"><a href="https://mof.gov.mn/"><img src="{% static 'base/assets/images/client-6.jpg' %}" alt="" style="heigth: 120px;"/></a></li>
           
            </ul>
          </div>
          <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
          <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
     {% endblock %}