{% extends "news/index_2.html" %}

{% load i18n %}



{% block content %}
<div id="wrapper">
      <div class="page-in">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 pull-left"><div class="page-in-name">Санал асуулга: <span>Санал өгөх</span></div></div>
            <div class="col-lg-6 pull-right"><div class="page-in-bread"><span>Та энд байна:</span> <a href="{% url 'news-homepage' %}">Санал асуулга</a> \ Санал өгөх</div></div>
          </div>
        </div>
      </div>
<div class="row" style="padding-top: 50px;">
    <div class="col-lg-8 col-lg-offset-2 ">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">Санал асуулга</h3>
            </div>
                
            <ul class="list-group">
                {% for poll in polls %}
                <li class="list-group-item">
                    <strong>{{ poll.question }}</strong>
                    <span class="pull-right">
                        <a href="{% url 'poll:vote' poll.id %}" class="btn btn-info btn-xs">Санал өгөх</a> &nbsp;
                        
                    </span>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}