{% extends 'news/index_2.html' %}

{% block content %}

<div class="text">
    <p> Таны сонгосон хичээл төлбөртэй тул та худалдан авна уу</p>
    <p> Хичээл худалдан авах заавар :</p>
    <ul>
        <li> 1. Хаан банктны ********** дансанд хичээлийн төлбөрийг хийж Гүйлгээний утган дээр нь Нэр утасны дугаар ямар хичээл худалдаж авахаа бичнэ үү 
        </li>
        <li>
            2. Төлбөр хийж дууссаны дараа бид удахгүй хичээлийг нээж өгөх болно.       
        </li>
        <li> 
            Холбогдох утас : 90390309
        </li>
         </ul>
    </div>


<style>
.text {
    margin-top: 140px;
}
.text p, li, ul{
    text-align: center;
}
</style>
{% endblock%}