{% extends 'news/index_2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}



{% block content %}




<div id="wrapper">
      <div class="page-in">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 pull-left"><div class="page-in-name">Сургалт: <span>Сургалт хүсэх</span></div></div>
            <div class="col-lg-6 pull-right"><div class="page-in-bread"><span>Та энд байна:</span> <a href="{% url 'news-homepage' %}">Нүүр хуудас</a> \ Сургалт хүсэх</div></div>
          </div>
        </div>
      </div>
<!-- Page -->
<section class="contact-page spad pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-form-warp">
          <div class="section-title text-white text-left">
 
          
          </div>
         <form action="" method="POST">
           {% csrf_token %}
              {% crispy form %}
        </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info-area">
          <div class="section-title text-left p-0">
            <h2>Хэрхэн сургалт хүсэх вэ</h2>
            <p>Манай компаниас ямар төрлийн сургалт болон ямар аргаар сургалт хүсэхээ бөглөж илгээнэ үү.</p>
          </div>
          <div class="phone-number">
            <h5>Холбогдох хаяг: </h5>
          </div>
          <ul class="contact-list">
            <li><i class="fa fa-phone-square"></i>   Утас: +(976) 9909-8752</li>
            <li><i class="fa fa-envelope"></i>   Имайл хаяг:  www.mezbneh@gmail</li>
          </ul>
          <div class="social-links">
              <ul class="soc-footer">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
              </ul> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page end -->

{% endblock content %}
